*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar{
    height: 50px;
    background-color: rgb(191, 214, 223);
  }
  .navdiv{
    display: flex;
    gap: 10px;
  }
  .navh3{
    padding-left: 100px;
    padding-top: 10px;
    color: rgb(0, 121, 158);
    font-size: 20px;
  }
  .navP{
    display: flex;
    gap: 20px ;
    padding-top: 12px;
    padding-left: 240px;
    font-size: 20px;
  }
  .navsign{
    display: flex;
    padding-left: 280px;
    padding-top: 12px;
    gap: 20px ;
  }
  .navbtn{
    background-color: rgb(0, 121, 158);
    border-radius: 8px;
  padding: 3px 5px 3px 5px;
  color: rgb(191, 214, 223) ;
  border: 0;
  }
  .herosection{
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  }
  .hepr{ background-color:rgb(191, 214, 223)  ;
  color: rgb(0, 121, 158);
  border-radius: 5px;
  }
  .heroh3{
    width: 50%;
    font-size: 45px;
  }
  .herop{
    width: 50%;
    padding-top: 30px;
    padding-bottom: 31px;
  }
  .startBtn{
    background-color: rgb(0, 121, 158);
    border-radius: 15px;
    color: rgb(255, 255, 255)  ;
  padding: 8px 29px 8px 29px;
  border: 0;
  }
  .demoBtn{
    border-radius: 15px;
    color: rgb(0, 121, 158)  ;
  padding: 8px 29px 8px 29px;
  border-color: rgb(0, 121, 158) ;
  }
  .serspan{
    color: rgb(0, 121, 158);
  }.serviceCard{
    display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  }
  .card-body{
  width: 25%;
   
   
  
  
  
   
  }